<article class="post">
  <figure class="post-thumbnail">
    <%- partial('thumbnail', { post: post, hasLink: false, type: "" }) %>
  </figure>
  <span><%- partial('date', { datetime: post.date }) %></span>
  <h1 class="title"><%=post.title %></h1>
  <%- partial('tag', { post: post }) %>
  <div class="content">
    <%- post.content %>
  </div>
  <%- partial('nav', { post: post }) %>
</article>
<section id="comment">
  <h2 class="title">コメント</h2>
  <% if (theme.comment_provider == "facebook") {
      if (theme.facebook) { %>
      <%- partial('_partial/facebook_comment', {fbConfig: theme.facebook}) %>
      <% } %>
  <% } else if(config.disqus_shortname) { %>
  <div id="disqus_thread">
    <noscript>コメントを閲覧するには、 Javascript を有効にしてください。 / Powered by Disqus.</noscript>
  </div>
  <% } %>
</section>